* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  list-style: none;
}
body {
  padding: 0 15px;
  min-width: 300px;
	font-family: sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.hide {
  display: none;
}
.title {
  font-size: 26px;
  line-height: 1.3;
  margin-bottom: 3px;
}
.description {
  font-size: 13px;
}
.container {
  width: 1000px;
  margin: auto;
  padding: 20px 0;
}
.dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  margin: 20px 0;
  border: 3px dashed #AAA;
}
.dropArea-text {
  margin-bottom: 10px;
}
.dropArea.dragover {
  background: #DDD;
}
.molePosition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.molePosition-label {
  width: 120px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #AAA;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.molePosition-label input {
  margin-right: 5px;
}
.outputContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 200px;
  margin: 20px 0;
  padding: 20px;
  background: #EEE;
}
.outputContent-progress {
  width: 100%;
  height: 5px;
  border: 1px solid #AAA;
}
.outputContent-progress-bar {
  height: 3px;
  background: #AAA;
}
.outputContent-fail {
  margin-bottom: 10px;
  font-size: 12px;
  text-align: center;
  color: #D00;
}
.outputContent-download {
  padding: 3px 10px;
  margin-top: 15px;
}
.notification {
  font-size: 10px;
}
footer {
  margin-top: 30px;
  text-align: center;
}
